Repository nomomon/fast-api-ai-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: generate-icons, frontend-format-and-lint, backend-format-and-lint, check-lockfile

generate-icons:
  run: cd frontend && pnpm run generate-icons
  stage_fixed: true

frontend-format-and-lint:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

backend-format-and-lint:
  run: "if [ -d backend/.venv ]; then\n  backend/.venv/bin/ruff check --fix {staged_files}\n  backend/.venv/bin/ruff format {staged_files}\nelse\n  echo \"Backend virtual environment not found. Run 'pnpm setup' first.\"\n  exit 1\nfi\n"
  stage_fixed: true

check-lockfile:
  run: pnpm install --lockfile-only

fix(proxy): update matcher to include PWA manifest files
  frontend/proxy.ts
Due: none

fix(model-selector): remove unnecessary width class from SelectTrigger
  frontend/components/chat/model-selector.tsx
Due: frontend-format-and-lint

fix(proxy): group regex is not allowed
  frontend/proxy.ts
Due: none

feat(stream): refactor stream handling to use SSEFormatter for structured events
  backend/app/providers/base.py
  backend/app/providers/litellm.py
  backend/app/routes/chat.py
  backend/app/utils/stream.py
Due: backend-format-and-lint

feat(litellm): implement state machine for streaming conversation flow with structured event processing
  backend/app/providers/litellm.py
Due: backend-format-and-lint

refactor: remove BaseProvider and ProviderFactory, integrate ChunkProcessor into LiteLLMProvider
  backend/app/providers/__init__.py
  backend/app/providers/base.py
  backend/app/providers/factory.py
  backend/app/providers/litellm.py
  backend/app/routes/chat.py
Due: backend-format-and-lint

refactor: move ChunkProcessor and StreamStateData to separate module for better organization
  backend/app/providers/litellm.py
  backend/app/providers/someclass.py
Due: backend-format-and-lint

feat(chat): add SuggestionCard component and integrate suggestions in Chat
  frontend/components/chat/index.tsx
  frontend/components/chat/suggestion-card.tsx
Due: frontend-format-and-lint

refactor: reorganize provider modules and enhance stream processing structure
  backend/app/providers/__init__.py
  backend/app/providers/base.py
  backend/app/providers/litellm.py
  backend/app/providers/state.py
Due: backend-format-and-lint

refactor: restructure agent modules and integrate LiteLLMAgent for chat handling
  backend/app/agent/__init__.py
  backend/app/agent/base.py
  backend/app/agent/litellm.py
  backend/app/agent/state.py
  backend/app/providers/__init__.py
  backend/app/routes/chat.py
Due: backend-format-and-lint

fix linting issues
  backend/app/routes/auth.py
  backend/ruff.toml
Due: backend-format-and-lint

refactor: update lefthook configuration and remove unused files
  .dockerignore
  .gitignore
  Makefile
  README.md
  backend/.gitignore
  backend/Makefile
  backend/package.json
  docker-compose.turbo.yml
  docker-compose.yml
  frontend/Dockerfile
  frontend/biome.json
  frontend/pnpm-lock.yaml
  lefthook.yml
  package.json
  pnpm-workspace.yaml
  turbo.json
Due: check-lockfile

refactor: update project logo to use SVG format and remove unused PNG file
  README.md
  assets/icon.png
Due: none

refactor: update setup target to include frontend dependencies installation
  Makefile
Due: none

Implement feature X to enhance user experience and optimize performance
  frontend/pnpm-lock.yaml
Due: none

feat: add .nvmrc file to specify Node.js version
  frontend/.nvmrc
Due: none

feat: add example environment file and update README for environment setup
  .env.example
  .gitignore
  README.md
  backend/.env.example
  backend/app/config.py
  frontend/.env.example
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend-format-and-lint, check-lockfile

refactor: clean up layout.tsx for improved readability and consistency
  frontend/app/layout.tsx
Due: frontend-format-and-lint

fix: remove default backend URL fallback in proxyRequest and ensure transport uses DefaultChatTransport
  frontend/app/api/[...path]/route.ts
  frontend/components/chat/index.tsx
Due: frontend-format-and-lint

feat: update environment configuration and add nginx setup for improved API routing
  .env.example
  backend/app/config.py
  docker-compose.yml
  frontend/app/api/[...path]/route.ts
  frontend/app/layout.tsx
  frontend/biome.json
  frontend/components/chat/index.tsx
  frontend/lib/constants/backend.ts
  frontend/lib/hooks/use-available-models.ts
  nginx/Dockerfile
  nginx/nginx.conf
Due: frontend-format-and-lint, backend-format-and-lint

fix: rename AUTH_SECRET to NEXTAUTH_SECRET in environment files and update references in README and auth configuration
  .env.example
  README.md
  docker-compose.yml
  frontend/lib/auth.ts
Due: frontend-format-and-lint

refactor: remove unused useApi hook to streamline API handling
  frontend/lib/hooks/use-api.ts
Due: frontend-format-and-lint

fix: reorder import statements for consistency in useAvailableModels hook
  frontend/lib/constants/backend.ts
  frontend/lib/hooks/use-available-models.ts
Due: frontend-format-and-lint

chore: add .env to .gitignore to prevent environment variable files from being tracked
  .gitignore
Due: none

feat: update API routing and environment configuration for improved integration with Next.js
  README.md
  docker-compose.yml
  frontend/app/actions.ts
  frontend/app/api/[...path]/route.ts
  frontend/components/chat/index.tsx
  frontend/lib/auth.ts
  frontend/lib/constants/backend.ts
  frontend/lib/hooks/use-available-models.ts
  nginx/Dockerfile
  nginx/nginx.conf
Due: frontend-format-and-lint

manual reverting
  frontend/app/actions.ts
  frontend/components/chat/index.tsx
  frontend/lib/auth.ts
Due: frontend-format-and-lint

fix: update comments in .env.example for clarity and remove unused public backend URL
  .env.example
Due: none

fix: remove unused DefaultChatTransport import for cleaner code
  frontend/components/chat/index.tsx
Due: frontend-format-and-lint

refactor: reorganize auth module structure and update import paths for clarity
  frontend/app/(app)/layout.tsx
  frontend/app/(auth)/layout.tsx
  frontend/app/actions.ts
  frontend/app/api/[...path]/route.ts
  frontend/app/api/auth/[...nextauth]/route.ts
  frontend/lib/auth/index.ts
  frontend/lib/auth/options.ts
  frontend/lib/auth/signin.ts
  frontend/lib/auth/signup.ts
Due: frontend-format-and-lint

fix: update import paths for authOptions to improve consistency across modules
  frontend/app/(app)/layout.tsx
  frontend/app/(auth)/layout.tsx
  frontend/app/api/[...path]/route.ts
  frontend/app/api/auth/[...nextauth]/route.ts
Due: frontend-format-and-lint

refactor: update signUp and signIn functions to use consistent payload interfaces
  frontend/app/actions.ts
  frontend/components/auth/signup-form.tsx
  frontend/lib/auth/signin.ts
  frontend/lib/auth/signup.ts
Due: frontend-format-and-lint

fix: update build script to remove env-cmd for improved simplicity
  frontend/package.json
Due: check-lockfile

fix: comment out ports configuration for frontend service in docker-compose
  docker-compose.yml
Due: none

fix: add NEXT_PUBLIC_BASE_URL environment variable for frontend service
  docker-compose.yml
Due: none

fix: streamline installation instructions for frontend dependencies and backend setup
  README.md
Due: none

feat: add prompt selection feature to chat component and implement prompts API
  backend/app/main.py
  backend/app/routes/chat.py
  backend/app/routes/prompts.py
  frontend/components/chat/index.tsx
  frontend/components/chat/prompt-selector.tsx
  frontend/lib/hooks/use-available-prompts.ts
  frontend/lib/hooks/use-default-prompt.ts
  frontend/lib/interfaces/display-prompt.ts
Due: frontend-format-and-lint, backend-format-and-lint

fix: adjust SelectTrigger styles in ModelSelector and PromptSelector components for consistency
  frontend/components/chat/model-selector.tsx
  frontend/components/chat/prompt-selector.tsx
Due: frontend-format-and-lint

fix: adjust padding in SelectTrigger components for consistency across chat inputs
  frontend/components/chat/chat-input.tsx
  frontend/components/chat/model-selector.tsx
  frontend/components/chat/prompt-selector.tsx
Due: frontend-format-and-lint

feat: update prompts data to include expert role with detailed instructions for AI responses
  backend/app/routes/prompts.py
Due: backend-format-and-lint

feat: update prompt content for conciseness and modify suggestion handling in chat component
  backend/app/routes/prompts.py
  frontend/components/chat/index.tsx
Due: frontend-format-and-lint, backend-format-and-lint

Path conditions:
  generate-icons: any of: frontend/public/icons/app-icon.svg
  frontend-format-and-lint: any of: frontend/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  backend-format-and-lint: any of: backend/**/*.py
  check-lockfile: any of: **/package.json
