Repository nomomon/fast-api-ai-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: generate-icons, frontend-format-and-lint, backend-format-and-lint, check-lockfile

lefthook.yml:

pre-commit:
  commands:
    generate-icons:
      glob: "frontend/public/icons/app-icon.svg"
      run: cd frontend && pnpm run generate-icons
      stage_fixed: true
    frontend-format-and-lint:
      glob: "frontend/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: cd frontend && pnpm run check:fix
      stage_fixed: true
    backend-format-and-lint:
      glob: "backend/**/*.py"
      run: make -C backend check-fix
      stage_fixed: true
    check-lockfile:
      glob: "frontend/package.json"
      run: cd frontend && pnpm install --lockfile-only

pre-push:
  commands:
    frontend-check:
      glob: "frontend/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: cd frontend && pnpm run check
    backend-check:
      glob: "backend/**/*.py"
      run: make -C backend check

feat: add API key and headers support to streamable-http configuration in MCP
  backend/app/domain/mcp/schemas.py
  backend/app/services/mcp/client.py
  frontend/app/(app)/dashboard/page.tsx
  frontend/lib/interfaces/mcp.ts
Due: frontend-format-and-lint, backend-format-and-lint

chore: remove unused AI agent and streaming initialization files to clean up the project structure
  backend/app/services/ai/agents/__init__.py
  backend/app/services/ai/streaming/__init__.py
Due: backend-format-and-lint

refactor: replace Enum with StrEnum for ToolInvocationState to improve type safety
  backend/src/ai/adapters/messages.py
Due: backend-format-and-lint

refactor: replace service classes with repository pattern for models and prompts to streamline data access
  backend/src/chat/router.py
  backend/src/model/router.py
  backend/src/model/service.py
  backend/src/prompt/router.py
  backend/src/prompt/service.py
Due: backend-format-and-lint

feat: add database migrations guidelines to ensure proper migration practices with Alembic
  .cursor/rules/database-migrations.mdc
  .cursor/rules/fastapi-backend.mdc
Due: none

refactor: replace McpService with UserMcpRepository in MCP router for improved data access
  backend/src/chat/router.py
  backend/src/mcp/__init__.py
  backend/src/mcp/router.py
  backend/src/mcp/service.py
Due: backend-format-and-lint

refactor: streamline chat handling by integrating ChatService for message preparation and event streaming
  backend/src/ai/agents/registry.py
  backend/src/chat/protocols.py
  backend/src/chat/router.py
  backend/src/chat/service.py
  backend/src/mcp/client.py
  backend/src/mcp/converters.py
  backend/src/mcp/repository.py
  backend/src/mcp/router.py
  backend/src/mcp/transports.py
Due: backend-format-and-lint

feat: implement MCP dashboard with add, edit, and delete functionality
  frontend/app/(app)/dashboard/page.tsx
  frontend/components/mcp/add-mcp-dialog.tsx
  frontend/components/mcp/delete-mcp-dialog.tsx
  frontend/components/mcp/edit-mcp-dialog.tsx
  frontend/components/mcp/index.tsx
  frontend/components/mcp/mcp-dashboard.tsx
  frontend/components/mcp/mcp-form.tsx
  frontend/components/mcp/mcp-table.tsx
  frontend/components/mcp/status-indicator.tsx
  frontend/components/mcp/utils.ts
Due: frontend-format-and-lint

fix: adjust margin for dashboard header for improved layout
  frontend/app/(app)/dashboard/page.tsx
Due: frontend-format-and-lint

refactor: replace NextAuth with custom authentication logic
  .env.example
  README.md
  frontend/app/(app)/layout.tsx
  frontend/app/(auth)/layout.tsx
  frontend/app/api/[...path]/route.ts
  frontend/app/api/auth/[...nextauth]/route.ts
  frontend/app/api/auth/login/route.ts
  frontend/app/api/auth/logout/route.ts
  frontend/app/api/auth/me/route.ts
  frontend/app/layout.tsx
  frontend/components/auth/login-form.tsx
  frontend/components/auth/signup-form.tsx
  frontend/components/chat/index.tsx
  frontend/components/providers/session-provider.tsx
  frontend/components/user/nav-user.tsx
  frontend/components/user/user-dropdown.tsx
  frontend/lib/api-client.ts
  frontend/lib/auth/client.ts
  frontend/lib/auth/index.ts
  frontend/lib/auth/options.ts
  frontend/lib/auth/signin.ts
  frontend/lib/hooks/use-user.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/proxy.ts
  frontend/types/next-auth.d.ts
Due: frontend-format-and-lint, check-lockfile

fix: reorder import statements in proxy.ts for consistency
  frontend/proxy.ts
Due: none

refactor: update authentication logic to use AUTH_COOKIE_NAME constant
  frontend/app/(app)/layout.tsx
  frontend/app/(auth)/layout.tsx
  frontend/app/api/[...path]/route.ts
  frontend/app/api/auth/login/route.ts
  frontend/app/api/auth/logout/route.ts
  frontend/app/api/auth/me/route.ts
  frontend/app/api/auth/signup/route.ts
  frontend/lib/auth/constants.ts
  frontend/lib/auth/signup.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/proxy.ts
Due: frontend-format-and-lint, check-lockfile

refactor: centralize authentication API logic and improve error handling
  frontend/app/api/auth/login/route.ts
  frontend/app/api/auth/logout/route.ts
  frontend/app/api/auth/me/route.ts
  frontend/app/api/auth/signup/route.ts
  frontend/lib/auth/api.ts
Due: frontend-format-and-lint

refactor: remove authentication checks from layout components
  frontend/app/(app)/layout.tsx
  frontend/app/(auth)/layout.tsx
Due: frontend-format-and-lint

docs: add JSDoc comments to fetchBackend function for better clarity
  frontend/lib/auth/api.ts
Due: frontend-format-and-lint

refactor: update authenticated fetch functions and remove server-side implementation
  frontend/lib/api-client.ts
Due: frontend-format-and-lint

Add skill dashboard and CRUD operations
  backend/src/main.py
  backend/src/skill/__init__.py
  backend/src/skill/repository.py
  backend/src/skill/router.py
  backend/src/skill/schemas.py
  backend/src/skill/service.py
  frontend/app/(app)/dashboard/page.tsx
  frontend/components/mcp/mcp-table.tsx
  frontend/components/skill/add-skill-dialog.tsx
  frontend/components/skill/delete-skill-dialog.tsx
  frontend/components/skill/edit-skill-dialog.tsx
  frontend/components/skill/index.tsx
  frontend/components/skill/skill-dashboard.tsx
  frontend/components/skill/skill-form.tsx
  frontend/components/skill/skill-table.tsx
  frontend/lib/hooks/use-skills.ts
  frontend/lib/interfaces/skill.ts
Due: frontend-format-and-lint, backend-format-and-lint

refactor: update table components to conditionally hide columns on smaller screens
  frontend/components/mcp/mcp-table.tsx
  frontend/components/skill/skill-table.tsx
Due: frontend-format-and-lint

migrate to uv
  Makefile
  backend/Dockerfile
  backend/Makefile
  backend/pyproject.toml
  backend/requirements.txt
  backend/uv.lock
Due: none

fix: update project name to include 'backend'
  backend/pyproject.toml
Due: none

feat: add initial AI module and integrate with backend
  ai/ai/__init__.py
  ai/ai/agent/__init__.py
  ai/ai/agent/context.py
  ai/ai/agent/loop.py
  ai/ai/agent/skills.py
  ai/ai/agent/tools/__init__.py
  ai/ai/providers/__init__.py
  ai/ai/skills/.gitkeep
  ai/pyproject.toml
  backend/pyproject.toml
  backend/uv.lock
Due: none

tools
  ai/ai/agent/tools/base.py
  ai/ai/agent/tools/weather.py
  ai/pyproject.toml
  ai/utils/text.py
Due: none

Refactor code structure for improved readability and maintainability
  ai/.gitignore
  ai/ai/agent/skills.py
  ai/ai/agent/skills/README.md
  ai/ai/agent/skills/__init__.py
  ai/ai/agent/skills/base.py
  ai/ai/agent/skills/file_source.py
  ai/ai/agent/skills/loader.py
  ai/ai/skills/.gitkeep
  ai/ai/skills/skill-creator/SKILL.md
  ai/uv.lock
Due: none

feat: implement agent loop and event handling for LLM responses
  ai/ai/agent/context.py
  ai/ai/agent/events.py
  ai/ai/agent/loop.py
  ai/ai/providers/base.py
Due: none

feat: add LiteLLM provider implementation and update dependencies
  ai/ai/providers/base.py
  ai/ai/providers/litellm.py
  ai/pyproject.toml
Due: none

refactor: streamline Chat component structure and enhance error handling
  CLAUDE.md
  frontend/components/chat/index.tsx
Due: frontend-format-and-lint

Refactor AI agent architecture: remove legacy agents, introduce new event formatting and handling
  backend/src/ai/adapters/streaming.py
  backend/src/ai/agents/__init__.py
  backend/src/ai/agents/base.py
  backend/src/ai/agents/chat_agent.py
  backend/src/ai/agents/registry.py
  backend/src/ai/agents/research_agent.py
  backend/src/ai/formatter.py
  backend/src/ai/handler.py
  backend/src/ai/route.py
  backend/src/ai/streaming/__init__.py
  backend/src/ai/streaming/processor.py
  backend/src/ai/streaming/protocols.py
  backend/src/ai/streaming/state.py
  backend/src/ai/tools/__init__.py
  backend/src/ai/tools/get_current_weather.py
  backend/src/ai/tools/load_skill.py
  backend/src/ai/tools/schema.py
  backend/src/ai/tools/update_skill.py
  backend/src/chat/__init__.py
  backend/src/chat/protocols.py
  backend/src/chat/router.py
  backend/src/chat/schemas.py
  backend/src/chat/service.py
  backend/src/main.py
  backend/uv.lock
Due: backend-format-and-lint

move utils folder
  ai/ai/agent/tools/base.py
  ai/ai/utils/text.py
Due: none

Refactor event formatting and update API router prefix
  .gitignore
  .vscode/settings.json
  Makefile
  ai/Makefile
  ai/ai/agent/context.py
  ai/ai/agent/loop.py
  ai/ai/agent/skills/file_source.py
  ai/ai/providers/litellm.py
  ai/ai/utils/text.py
  ai/pyproject.toml
  ai/uv.lock
  backend/src/ai/formatter.py
  backend/src/ai/route.py
  backend/uv.lock
Due: backend-format-and-lint

refactor: simplify LiteLLMProvider initialization by removing API key parameters
  ai/ai/providers/litellm.py
  backend/src/ai/handler.py
Due: backend-format-and-lint

refactor: enhance event handling and formatting in agent loop and chat components
  ai/ai/agent/events.py
  ai/ai/agent/loop.py
  backend/src/ai/formatter.py
  frontend/components/chat/index.tsx
Due: frontend-format-and-lint, backend-format-and-lint

refactor: enhance skill management and API integration with user-specific features
  backend/alembic/env.py
  backend/src/ai/handler.py
  backend/src/ai/route.py
  backend/src/ai/tools.py
  backend/src/main.py
  backend/src/skill/__init__.py
  backend/src/skill/service.py
  backend/src/skills/__init__.py
  backend/src/skills/models.py
  backend/src/skills/repository.py
  backend/src/skills/router.py
  backend/src/skills/schemas.py
  frontend/components/chat/index.tsx
Due: frontend-format-and-lint, backend-format-and-lint

refactor: implement AI model catalog with repository and API endpoints
  backend/src/ai/models/__init__.py
  backend/src/ai/models/repository.py
  backend/src/ai/models/router.py
  backend/src/ai/models/schemas.py
  backend/src/ai/route.py
  backend/src/main.py
  backend/src/model/__init__.py
  frontend/lib/hooks/use-available-models.ts
Due: frontend-format-and-lint, backend-format-and-lint

move files around
  backend/alembic/env.py
  backend/src/ai/handler.py
  backend/src/ai/mcp/__init__.py
  backend/src/ai/mcp/client.py
  backend/src/ai/mcp/converters.py
  backend/src/ai/mcp/models.py
  backend/src/ai/mcp/repository.py
  backend/src/ai/mcp/route.py
  backend/src/ai/mcp/schemas.py
  backend/src/ai/mcp/transports.py
  backend/src/ai/models/__init__.py
  backend/src/ai/models/route.py
  backend/src/ai/prompts/__init__.py
  backend/src/ai/prompts/prompts/concise.md
  backend/src/ai/prompts/prompts/expert.md
  backend/src/ai/prompts/prompts/none.md
  backend/src/ai/prompts/repository.py
  backend/src/ai/prompts/route.py
  backend/src/ai/prompts/schemas.py
  backend/src/ai/route.py
  backend/src/ai/skills/__init__.py
  backend/src/ai/skills/models.py
  backend/src/ai/skills/repository.py
  backend/src/ai/skills/route.py
  backend/src/ai/skills/schemas.py
  backend/src/ai/tools.py
  backend/src/main.py
Due: backend-format-and-lint

Refactor MCP client and converters; remove unused code and update imports
  ai/ai/mcp/__init__.py
  ai/ai/mcp/client.py
  ai/ai/mcp/schemas.py
  ai/ai/mcp/tool.py
  ai/ai/mcp/transports.py
  ai/pyproject.toml
  ai/uv.lock
  backend/src/ai/mcp/client.py
  backend/src/ai/mcp/converters.py
  backend/src/ai/mcp/route.py
  backend/src/ai/mcp/schemas.py
  backend/uv.lock
Due: backend-format-and-lint

refactor: improve code formatting and organization across multiple files
  ai/ai/mcp/__init__.py
  ai/ai/mcp/client.py
  ai/ai/mcp/tool.py
  backend/src/ai/handler.py
  frontend/lib/hooks/use-available-models.ts
Due: frontend-format-and-lint, backend-format-and-lint

refactor: remove unused AgentSelector component and related default agent hook
  frontend/components/chat/agent-selector.tsx
  frontend/components/chat/index.tsx
  frontend/lib/hooks/use-available-prompts.ts
  frontend/lib/hooks/use-default-agent.ts
Due: frontend-format-and-lint

refactor: reorganize agent run logic and improve skill/tool management
  backend/src/ai/handler.py
Due: backend-format-and-lint

refactor: update MCPToolWrapper naming convention and enhance Chat component structure
  ai/ai/mcp/tool.py
  frontend/components/chat/index.tsx
  frontend/lib/hooks/use-available-prompts.ts
  frontend/lib/hooks/use-mcps.ts
  frontend/lib/hooks/use-skills.ts
Due: frontend-format-and-lint
