Repository nomomon/fast-api-ai-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: generate-icons, frontend-format-and-lint, backend-format-and-lint, check-lockfile

lefthook.yml:

pre-commit:
  commands:
    generate-icons:
      glob: "frontend/public/icons/app-icon.svg"
      run: cd frontend && pnpm run generate-icons
      stage_fixed: true
    frontend-format-and-lint:
      glob: "frontend/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: cd frontend && pnpm run check:fix
      stage_fixed: true
    backend-format-and-lint:
      glob: "backend/**/*.py"
      run: make -C backend check-fix
      stage_fixed: true
    check-lockfile:
      glob: "frontend/package.json"
      run: cd frontend && pnpm install --lockfile-only

pre-push:
  commands:
    frontend-check:
      glob: "frontend/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: cd frontend && pnpm run check
    backend-check:
      glob: "backend/**/*.py"
      run: make -C backend check

refactor: add AI formatting and linting commands to pre-commit and pre-push hooks
  lefthook.yml
Due: none

refactor: enhance SystemPrompt class and update agent loop to support dynamic prompts
  ai/ai/agent/context.py
  ai/ai/agent/loop.py
  backend/alembic/env.py
  backend/src/ai/handler.py
  backend/src/ai/route.py
Due: backend-format-and-lint

refactor: update string concatenation to template literal in SkillTable component
  frontend/components/skill/skill-table.tsx
Due: frontend-format-and-lint

refactor: update type hints and enhance SQLAlchemy model definitions across multiple files
  ai/ai/py.typed
  backend/pyproject.toml
  backend/src/ai/adapters/messages.py
  backend/src/ai/handler.py
  backend/src/ai/mcp/models.py
  backend/src/ai/prompts/repository.py
  backend/src/ai/skills/models.py
  backend/src/auth/dependencies.py
  backend/src/config.py
  backend/src/database.py
  backend/src/user/models.py
  backend/uv.lock
Due: backend-format-and-lint

refactor: update project overview and architecture details in CLAUDE.md
  CLAUDE.md
Due: none

docs: add blank lines for better readability in CLAUDE.md
  CLAUDE.md
Due: none

refactor: update Dockerfile path in docker-compose.yml and improve ai package copy instruction
  backend/Dockerfile
  docker-compose.yml
Due: none

refactor: update DashboardPage layout to use semantic HTML elements
  frontend/app/(app)/dashboard/page.tsx
Due: frontend-format-and-lint

refactor: enhance MCP table actions with loading state indicator
  frontend/components/mcp/mcp-table.tsx
Due: frontend-format-and-lint

refactor: standardize formatting and improve readability in MCP and Skill components
  frontend/components/mcp/mcp-table.tsx
  frontend/components/skill/skill-form.tsx
  frontend/components/skill/skill-table.tsx
Due: frontend-format-and-lint

feat: migrate frontend query hooks to TanStack Query v5
  frontend/app/layout.tsx
  frontend/components/mcp/mcp-dashboard.tsx
  frontend/components/skill/skill-dashboard.tsx
  frontend/lib/hooks/use-available-models.ts
  frontend/lib/hooks/use-available-prompts.ts
  frontend/lib/hooks/use-mcps.ts
  frontend/lib/hooks/use-skills.ts
  frontend/lib/hooks/use-user.ts
  frontend/lib/query-client-provider.tsx
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend-format-and-lint, check-lockfile

fix: handle null-body HTTP status codes in proxy route
  frontend/app/api/[...path]/route.ts
Due: frontend-format-and-lint

feat: migrate frontend query hooks to TanStack Query v5 (#40)
  frontend/app/api/[...path]/route.ts
  frontend/app/layout.tsx
  frontend/components/mcp/mcp-dashboard.tsx
  frontend/components/skill/skill-dashboard.tsx
  frontend/lib/hooks/use-available-models.ts
  frontend/lib/hooks/use-available-prompts.ts
  frontend/lib/hooks/use-mcps.ts
  frontend/lib/hooks/use-skills.ts
  frontend/lib/hooks/use-user.ts
  frontend/lib/query-client-provider.tsx
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend-format-and-lint, check-lockfile

refactor: enhance MCP check response with error handling and update hook mutation type
  backend/src/ai/mcp/route.py
  frontend/lib/hooks/use-mcps.ts
Due: frontend-format-and-lint, backend-format-and-lint

feat: add FastAPI MCP service and update dependencies
  backend/pyproject.toml
  backend/uv.lock
  docker-compose.yml
  mcp/Dockerfile
  mcp/main.py
Due: none

feat: implement MCP error handling and enhance main server configuration
  backend/src/ai/mcp/_errors.py
  backend/src/ai/mcp/route.py
  mcp/main.py
Due: backend-format-and-lint

feat: add Python code execution tool to MCP and update frontend component
  frontend/components/chat/tool-invocation.tsx
  mcp/main.py
Due: frontend-format-and-lint

refactor: improve formatting and readability in ToolInvocation component
  frontend/components/chat/tool-invocation.tsx
Due: frontend-format-and-lint

feat: update model repository with new Gemini model and comment out previous entries
  backend/src/ai/models/repository.py
Due: backend-format-and-lint

feat: enhance MCP file tools with workspace management and new functionalities
  docker-compose.yml
  mcp/Dockerfile
  mcp/main.py
  mcp/workspace.py
Due: none

feat: expand ToolInvocation component with new file manipulation tools
  frontend/components/chat/tool-invocation.tsx
Due: frontend-format-and-lint

feat: add file and shell manipulation tools to MCP
  mcp/main.py
  mcp/tools/files.py
  mcp/tools/shell.py
Due: none

feat: refactor file and shell tools integration in MCP
  mcp/main.py
  mcp/tools/files.py
  mcp/tools/shell.py
Due: none

chore: clean up empty code change sections in the changes log
  backend/pyproject.toml
  backend/uv.lock
  docker-compose.yml
  mcp/Dockerfile
  mcp/pyproject.toml
  mcp/uv.lock
Due: none

feat: integrate file and shell tools into MCP with new tool registrations
  mcp/main.py
  mcp/tools/files.py
  mcp/tools/shell.py
Due: none

refactor: standardize formatting and improve readability in ToolInvocation component
  frontend/components/chat/tool-invocation.tsx
Due: frontend-format-and-lint

refactor: improve code formatting and readability in ToolInvocation component
  frontend/components/chat/tool-invocation.tsx
Due: frontend-format-and-lint

feat: add search tool configuration with display name and input context
  frontend/components/chat/tool-invocation.tsx
Due: frontend-format-and-lint

base settings components
  frontend/app/(app)/settings/layout.tsx
  frontend/app/(app)/settings/page.tsx
  frontend/components/app-sidebar.tsx
  frontend/components/settings/index.tsx
  frontend/components/settings/settings-content.tsx
  frontend/components/settings/settings-nav-item.tsx
  frontend/components/settings/settings-search-field.tsx
  frontend/components/settings/settings-section-label.tsx
  frontend/components/settings/settings-sidebar.tsx
  frontend/components/ui/switch.tsx
Due: frontend-format-and-lint

Refactor dashboard and settings components; enhance navigation and structure
  frontend/app/(app)/dashboard/page.tsx
  frontend/app/(app)/settings/layout.tsx
  frontend/app/(app)/settings/page.tsx
  frontend/app/(app)/settings/skills/page.tsx
  frontend/app/(app)/settings/tools/page.tsx
  frontend/components/app-sidebar.tsx
  frontend/components/mcp/mcp-dashboard.tsx
  frontend/components/settings/index.tsx
  frontend/components/settings/settings-content.tsx
  frontend/components/settings/settings-nav-link.tsx
  frontend/components/settings/settings-shell.tsx
  frontend/components/settings/settings-sidebar.tsx
  frontend/components/skill/skill-dashboard.tsx
Due: frontend-format-and-lint

chore(deps): bump aiohttp from 3.13.3 to 3.13.4 in /backend (#68)
  ai/uv.lock
  backend/uv.lock
  frontend/package.json
  frontend/pnpm-lock.yaml
  mcp/uv.lock
Due: check-lockfile

ci: add Dependabot 7-day cooldown and auto-merge workflow
  .github/dependabot.yml
  .github/workflows/auto-merge-dependabot.yml
Due: none

fix: use correct cooldown property name default-days
  .github/dependabot.yml
Due: none

fix(deps): resolve Dependabot security alerts across all packages
  ai/uv.lock
  backend/uv.lock
  frontend/package.json
  frontend/pnpm-lock.yaml
  mcp/uv.lock
Due: check-lockfile
