Repository nomomon/fast-api-ai-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: generate-icons, frontend-format-and-lint, backend-format-and-lint, check-lockfile

lefthook.yml:

pre-commit:
  commands:
    generate-icons:
      glob: "frontend/public/icons/app-icon.svg"
      run: cd frontend && pnpm run generate-icons
      stage_fixed: true
    frontend-format-and-lint:
      glob: "frontend/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: cd frontend && pnpm run check:fix
      stage_fixed: true
    backend-format-and-lint:
      glob: "backend/**/*.py"
      run: make -C backend check-fix
      stage_fixed: true
    check-lockfile:
      glob: "frontend/package.json"
      run: cd frontend && pnpm install --lockfile-only

pre-push:
  commands:
    frontend-check:
      glob: "frontend/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: cd frontend && pnpm run check
    backend-check:
      glob: "backend/**/*.py"
      run: make -C backend check

fix(tools): raise on missing or non-callable tool instead of skipping
  backend/app/services/ai/tools/__init__.py
Due: backend-format-and-lint

test(tools): use assertGreater for description length check
  backend/tests/test_tools.py
Due: backend-format-and-lint

test(tools): mock requests in get_current_weather callable test
  backend/tests/test_tools.py
Due: backend-format-and-lint

test(tools): add edge-case tests for schema extraction
  backend/tests/test_tools.py
Due: backend-format-and-lint

refactor: update Alembic configuration to load DATABASE_URL from environment
  backend/alembic.ini
  backend/alembic/env.py
  backend/app/main.py
  backend/docs/db-migrations.md
Due: backend-format-and-lint

Update backend/alembic/env.py
  backend/alembic/env.py
Due: backend-format-and-lint

Update backend/alembic/versions/001_create_users_table.py
  backend/alembic/versions/001_create_users_table.py
Due: backend-format-and-lint

chore: enhance Alembic migration scripts and documentation
  backend/alembic/env.py
  backend/alembic/script.py.mako
  backend/alembic/versions/001_create_users_table.py
  backend/docs/db-migrations.md
Due: backend-format-and-lint

feat: implement model repository and service for AI models
  backend/app/api/v1/chat.py
  backend/app/api/v1/models.py
  backend/app/domain/model/__init__.py
  backend/app/domain/model/repository.py
  backend/app/domain/model/schemas.py
  backend/app/domain/model/service.py
Due: backend-format-and-lint

feat: handle unauthorized errors by signing out users in chat component
  frontend/app/api/[...path]/route.ts
  frontend/components/chat/index.tsx
Due: frontend-format-and-lint

feat: implement skill management with repository, service, and tools; add concise, expert, and none prompts
  backend/app/api/v1/chat.py
  backend/app/domain/prompt/prompts/concise.md
  backend/app/domain/prompt/prompts/expert.md
  backend/app/domain/prompt/prompts/none.md
  backend/app/domain/prompt/repository.py
  backend/app/domain/skill/__init__.py
  backend/app/domain/skill/repository.py
  backend/app/domain/skill/schemas.py
  backend/app/domain/skill/service.py
  backend/app/domain/skill/skills/example/SKILL.md
  backend/app/services/ai/tools/__init__.py
  backend/app/services/ai/tools/load_skill.py
  backend/requirements.txt
Due: backend-format-and-lint

feat: add skill update functionality with validation and file handling
  backend/app/domain/skill/repository.py
  backend/app/domain/skill/service.py
  backend/app/domain/skill/skills/skill-creator/SKILL.md
  backend/app/services/ai/tools/__init__.py
  backend/app/services/ai/tools/update_skill.py
Due: backend-format-and-lint

fix: remove unnecessary parameter from get_available_skills_xml method call
  backend/app/api/v1/chat.py
Due: backend-format-and-lint

feat: update skill writing functionality to use YAML for frontmatter
  backend/app/domain/skill/repository.py
Due: backend-format-and-lint

feat: add cable icons and display names for update and load skill actions
  backend/app/domain/skill/skills/example/SKILL.md
  frontend/components/chat/tool-invocation.tsx
Due: frontend-format-and-lint

feat: implement user skills management with database integration and update functionality
  backend/alembic/env.py
  backend/alembic/versions/002_create_user_skills_table.py
  backend/app/api/v1/chat.py
  backend/app/core/request_context.py
  backend/app/domain/skill/models.py
  backend/app/domain/skill/repository.py
  backend/app/domain/skill/service.py
  backend/app/domain/skill/skills/skill-creator/SKILL.md
  backend/app/services/ai/tools/load_skill.py
  backend/app/services/ai/tools/update_skill.py
Due: backend-format-and-lint

feat: enhance chat stream handling with context cleanup and improve tool invocation context extraction
  backend/app/api/v1/chat.py
  frontend/components/chat/tool-invocation.tsx
Due: frontend-format-and-lint, backend-format-and-lint

feat: refactor ToolInvocation component to enhance state handling and improve display logic
  frontend/components/chat/message-item.tsx
  frontend/components/chat/tool-invocation.tsx
Due: frontend-format-and-lint

feat: update prompt data structure to include content field and change id default value
  backend/app/domain/prompt/repository.py
Due: backend-format-and-lint

feat: update user model import for consistency in Alembic environment configuration
  backend/alembic/env.py
Due: backend-format-and-lint

fix: update prompt ID from null to none for consistency
  backend/app/domain/prompt/prompts/none.md
Due: none

feat: add Docker migration instructions and update Dockerfile for Alembic configuration
  backend/Dockerfile
  backend/docs/db-migrations.md
Due: none

feat: enhance accessibility and user experience with ARIA attributes and screen reader support
  frontend/app/(auth)/layout.tsx
  frontend/app/globals.css
  frontend/components/ai-elements/reasoning.tsx
  frontend/components/auth/signup-form.tsx
  frontend/components/chat/agent-selector.tsx
  frontend/components/chat/chat-input.tsx
  frontend/components/chat/index.tsx
  frontend/components/chat/message-item.tsx
  frontend/components/chat/model-selector.tsx
  frontend/components/chat/prompt-selector.tsx
  frontend/components/chat/suggestion-card.tsx
  frontend/components/chat/tool-invocation.tsx
  frontend/components/theme-toggle.tsx
  frontend/components/user/user-dropdown.tsx
Due: frontend-format-and-lint

add base shadcn for sidebar
  frontend/app/dashboard/page.tsx
  frontend/components/app-sidebar.tsx
  frontend/components/ui/breadcrumb.tsx
  frontend/components/ui/sheet.tsx
  frontend/components/ui/sidebar.tsx
  frontend/components/ui/skeleton.tsx
  frontend/components/ui/tooltip.tsx
  frontend/hooks/use-mobile.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend-format-and-lint, check-lockfile

use cursor to integrate sidebar
  frontend/app/(app)/dashboard/page.tsx
  frontend/app/(app)/layout.tsx
  frontend/app/dashboard/page.tsx
  frontend/components/app-shell.tsx
  frontend/components/app-sidebar.tsx
  frontend/components/chat/index.tsx
  frontend/hooks/use-mobile.ts
Due: frontend-format-and-lint

lint and format code
  frontend/app/(app)/dashboard/page.tsx
  frontend/components/app-shell.tsx
  frontend/components/app-sidebar.tsx
Due: frontend-format-and-lint

feat: implement new chat functionality with context provider and sidebar integration
  frontend/app/(app)/layout.tsx
  frontend/components/app-shell.tsx
  frontend/components/app-sidebar.tsx
  frontend/components/chat/index.tsx
  frontend/components/user/nav-user.tsx
  frontend/lib/contexts/new-chat-context.tsx
Due: frontend-format-and-lint

refactor: simplify sidebar button structure and improve image styling
  frontend/components/app-sidebar.tsx
Due: frontend-format-and-lint

refactor: replace hardcoded image paths with constants for better maintainability
  frontend/app/(auth)/layout.tsx
  frontend/components/chat/index.tsx
Due: frontend-format-and-lint

feat: add separator component to enhance visual structure in sidebar
  frontend/components/app-sidebar.tsx
Due: frontend-format-and-lint

feat: update GitHub link in sidebar with structured constant for improved clarity
  frontend/components/app-sidebar.tsx
  frontend/lib/constants/seo.ts
Due: frontend-format-and-lint

feat: integrate sidebar state management using cookies for persistent user experience
  frontend/app/(app)/layout.tsx
  frontend/components/app-shell.tsx
Due: frontend-format-and-lint

fix: update AvatarImage src to an empty string for improved handling of user images
  frontend/components/user/nav-user.tsx
Due: frontend-format-and-lint

feat: implement floating sidebar trigger for improved user interaction and responsiveness
  frontend/components/app-shell.tsx
Due: frontend-format-and-lint

feat: add skills management API and frontend integration for user skills
  backend/app/api/v1/__init__.py
  backend/app/api/v1/skills.py
  backend/app/domain/skill/repository.py
  backend/app/domain/skill/schemas.py
  backend/app/domain/skill/service.py
  backend/app/main.py
  frontend/app/(app)/dashboard/page.tsx
  frontend/components/user/user-dropdown.tsx
  frontend/lib/hooks/use-user-skills.ts
  frontend/lib/interfaces/user-skill.ts
Due: frontend-format-and-lint, backend-format-and-lint

feat: add Dialog and Table components for enhanced UI functionality
  frontend/components/ui/dialog.tsx
  frontend/components/ui/table.tsx
Due: frontend-format-and-lint

feat: add MCP management functionality with UI components for creating, editing, and deleting MCPs
  backend/alembic/versions/003_create_user_mcps_table.py
  backend/app/api/v1/chat.py
  backend/app/api/v1/mcps.py
  backend/app/domain/mcp/__init__.py
  backend/app/domain/mcp/models.py
  backend/app/domain/mcp/repository.py
  backend/app/domain/mcp/schemas.py
  backend/app/domain/mcp/service.py
  backend/app/main.py
  backend/app/services/ai/agents/chat_agent.py
  backend/app/services/ai/streaming/processor.py
  backend/app/services/mcp/__init__.py
  backend/app/services/mcp/client.py
  backend/requirements.txt
  frontend/app/(app)/dashboard/page.tsx
  frontend/lib/hooks/use-mcps.ts
  frontend/lib/interfaces/mcp.ts
Due: frontend-format-and-lint, backend-format-and-lint

refactor: reorganize imports for better readability and structure
  frontend/app/(app)/dashboard/page.tsx
Due: frontend-format-and-lint

feat: introduce Union type for MCP configuration to support multiple transport methods
  backend/app/domain/mcp/schemas.py
Due: backend-format-and-lint
