Repository nomomon/fast-api-ai-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: generate-icons, frontend-format-and-lint, backend-format-and-lint, check-lockfile

generate-icons:
  run: cd frontend && pnpm run generate-icons
  stage_fixed: true

frontend-format-and-lint:
  run: cd frontend && pnpm run check:fix
  stage_fixed: true

backend-format-and-lint:
  run: make -C backend check-fix
  stage_fixed: true

check-lockfile:
  run: cd frontend && pnpm install --lockfile-only

refactor: update import paths for ClientMessage and convert_to_openai_messages
  backend/app/agent/litellm.py
  backend/app/routes/chat.py
  backend/app/utils/messages.py
Due: backend-format-and-lint

feat: add expert role with detailed instructions for AI responses in prompts data
  backend/app/routes/prompts.py
Due: backend-format-and-lint

docs: clarify purpose of NEXTAUTH_SECRET and SECRET_KEY in README
  README.md
Due: none

feat: enhance ToolInvocation component with improved icon sizes and display handling
  frontend/components/chat/tool-invocation.tsx
Due: frontend-format-and-lint

feat: add default prompt entry with None id and name
  backend/app/routes/prompts.py
Due: backend-format-and-lint

feat: update prompt entry to replace 'General' with 'Concise' for improved clarity
  backend/app/routes/prompts.py
Due: backend-format-and-lint

feat: update tool display name for 'get_current_weather' to improve clarity
  frontend/components/chat/tool-invocation.tsx
Due: frontend-format-and-lint

refactor: reorganize imports and clean up configuration settings
  backend/app/api/v1/auth.py
  backend/app/core/config.py
  backend/app/main.py
  backend/app/services/ai/litellm_agent.py
Due: backend-format-and-lint

refactor: reorganize backend structure and implement chat agent with streaming support
  backend/app/__init__.py
  backend/app/adapters/__init__.py
  backend/app/api/v1/chat.py
  backend/app/core/dependencies.py
  backend/app/domain/__init__.py
  backend/app/main.py
  backend/app/services/__init__.py
  backend/app/services/ai/__init__.py
  backend/app/services/ai/agents/base.py
  backend/app/services/ai/agents/chat_agent.py
  backend/app/services/ai/state.py
  backend/app/services/ai/streaming/processor.py
  backend/app/services/ai/streaming/protocols.py
  backend/app/services/ai/streaming/state.py
  backend/app/services/ai/tools/definitions.py
  backend/app/services/ai/tools/implementations.py
Due: backend-format-and-lint

refactor: remove unused domain models and reorganize AI service structure
  backend/app/domain/__init__.py
  backend/app/main.py
  backend/app/services/ai/agents/__init__.py
  backend/app/services/ai/streaming/__init__.py
  backend/app/services/ai/tools/__init__.py
Due: backend-format-and-lint

refactor: improve prompt content formatting for better readability
  backend/app/domain/prompt/repository.py
Due: backend-format-and-lint

refactor: enhance thinking message for single second duration
  frontend/components/ai-elements/reasoning.tsx
Due: frontend-format-and-lint

add message actions for user and agent
  backend/app/domain/prompt/repository.py
  backend/app/main.py
  frontend/components/auth/signup-form.tsx
  frontend/components/chat/index.tsx
  frontend/components/chat/message-actions-agent.tsx
  frontend/components/chat/message-actions-user.tsx
  frontend/components/chat/message-item.tsx
  frontend/components/chat/message-list.tsx
  frontend/components/chat/utils.ts
Due: frontend-format-and-lint, backend-format-and-lint

fix: adjust message item layout to align user actions at the bottom
  frontend/components/chat/message-item.tsx
Due: frontend-format-and-lint

refactor: standardize SelectTrigger padding and height across components
  frontend/components/chat/chat-input.tsx
  frontend/components/chat/model-selector.tsx
  frontend/components/chat/prompt-selector.tsx
Due: frontend-format-and-lint

feat: add ChainOfThought component and Badge UI element
  frontend/components/ai-elements/chain-of-thought.tsx
  frontend/components/ui/badge.tsx
Due: frontend-format-and-lint

refactor: restructure MessageItem component for improved readability and maintainability
  frontend/components/chat/message-item.tsx
Due: frontend-format-and-lint

feat: implement SSEFormatter for Server-Sent Events and add streaming response headers
  backend/app/services/ai/adapters/messages.py
  backend/app/services/ai/adapters/streaming.py
  backend/app/services/ai/agents/chat_agent.py
Due: backend-format-and-lint

feat: add support for processing multimodal content parts in StreamChunkProcessor
  backend/app/services/ai/agents/chat_agent.py
  backend/app/services/ai/streaming/processor.py
Due: backend-format-and-lint

feat: implement ResearchAgent and update chat endpoints for research data processing
  backend/app/api/v1/chat.py
  backend/app/services/ai/agents/base.py
  backend/app/services/ai/agents/research_agent.py
  backend/app/services/ai/streaming/processor.py
  frontend/components/chat/message-item.tsx
Due: frontend-format-and-lint, backend-format-and-lint

feat: add WorkflowProcess component to display search results and reasoning steps in AssistantMessageItem
  frontend/components/chat/message-item.tsx
  frontend/components/chat/workflow-process.tsx
Due: frontend-format-and-lint

feat: update chat components to use ChatMessage type and add WorkflowPart for enhanced message processing
  frontend/components/chat/index.tsx
  frontend/components/chat/message-item.tsx
  frontend/components/chat/message-list.tsx
  frontend/components/chat/utils.ts
  frontend/components/chat/workflow-part.tsx
  frontend/types/chat.ts
Due: frontend-format-and-lint

feat: enhance ResearchAgent to simulate website searches and update workflow data types for improved processing
  backend/app/services/ai/agents/research_agent.py
  frontend/components/ai-elements/chain-of-thought.tsx
  frontend/components/chat/workflow-part.tsx
  frontend/types/chat.ts
Due: frontend-format-and-lint, backend-format-and-lint

feat: enhance ChainOfThought and WorkflowPart components to support streaming state and dynamic header messages
  frontend/components/ai-elements/chain-of-thought.tsx
  frontend/components/chat/workflow-part.tsx
Due: frontend-format-and-lint

feat: update default header message in WorkflowPart to indicate research completion
  frontend/components/chat/workflow-part.tsx
Due: frontend-format-and-lint

feat: enhance ResearchAgent and WorkflowPart to support dynamic labels and improved workflow messaging
  backend/app/services/ai/agents/research_agent.py
  frontend/components/chat/workflow-part.tsx
  frontend/types/chat.ts
Due: frontend-format-and-lint, backend-format-and-lint

feat: simplify WorkflowPart component by removing unused icons and improving variable naming
  frontend/components/chat/workflow-part.tsx
Due: frontend-format-and-lint

feat: refactor imports in WorkflowPart component for consistency and clarity
  frontend/components/chat/workflow-part.tsx
Due: frontend-format-and-lint

feat: update ChainOfThoughtImage and Shimmer components for improved styling consistency
  frontend/components/ai-elements/chain-of-thought.tsx
  frontend/components/ai-elements/shimmer.tsx
Due: frontend-format-and-lint

feat: implement agent selection functionality with AgentSelector component and default agent hook
  backend/app/api/v1/chat.py
  frontend/components/chat/agent-selector.tsx
  frontend/components/chat/index.tsx
  frontend/lib/hooks/use-default-agent.ts
  frontend/lib/interfaces/display-agent.ts
Due: frontend-format-and-lint, backend-format-and-lint

feat: reorder AgentSelector component for improved user experience
  frontend/components/chat/index.tsx
Due: frontend-format-and-lint

feat: refactor Chat component to use EnhancedChatInput for improved structure and readability
  frontend/components/chat/index.tsx
Due: frontend-format-and-lint

feat: refactor EnhancedChatInput to be a variable for improved readability and structure
  frontend/components/chat/index.tsx
Due: frontend-format-and-lint

fix: update isWorkflow check to use isDataUIPart for improved clarity
  frontend/components/chat/message-item.tsx
Due: frontend-format-and-lint

feat: add tool registry and schema extraction for OpenAI function calling
  backend/Makefile
  backend/app/services/ai/agents/chat_agent.py
  backend/app/services/ai/tools/__init__.py
  backend/app/services/ai/tools/definitions.py
  backend/app/services/ai/tools/get_current_weather.py
  backend/app/services/ai/tools/schema.py
  backend/tests/__init__.py
  backend/tests/test_tools.py
Due: backend-format-and-lint

feat: add Alembic migration setup and initial user table migration
  backend/Makefile
  backend/alembic.ini
  backend/alembic/README
  backend/alembic/env.py
  backend/alembic/script.py.mako
  backend/alembic/versions/001_create_users_table.py
  backend/app/main.py
  backend/docs/db-migrations.md
Due: backend-format-and-lint

fix(schema): remove dead Optional block in _python_type_to_json_schema
  backend/app/services/ai/tools/schema.py
Due: backend-format-and-lint

fix(schema): support Python 3.10+ union syntax and consolidate Union handling
  backend/app/services/ai/tools/schema.py
Due: backend-format-and-lint

fix(schema): exclude parameters with default values from required list
  backend/app/services/ai/tools/schema.py
Due: backend-format-and-lint

Path conditions:
  generate-icons: any of: frontend/public/icons/app-icon.svg
  frontend-format-and-lint: any of: frontend/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  backend-format-and-lint: any of: backend/**/*.py
  check-lockfile: any of: frontend/package.json
